/* Tailwind v4：用這一句即可 */
@import "tailwindcss";

body {
  font-family: 'Times New Roman', SimSun, '宋体', '宋體', serif;
  margin: 0;
  padding: 0;
  background-color: #e5e7eb;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    background-color: white !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
